.photo {
  width: 100%;
  max-width: 300px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .photo1 {
    width: 150px;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;
  }
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 15px;
  padding: 30px 40px;
  margin: auto;
  margin-top: 100px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: #d9c89e;
  margin-top: 0; /* Reset margin */
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box {
  position: relative;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box input:focus::placeholder {
  color: transparent !important;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  color: black;
  background-color: #d9c89e;
  transition: transform 0.3s ease;
}

.wrapper button:hover {
  transform: scale(1.1);
}

.input-box#x input::placeholder {
  color: rgb(160, 217, 239);
}
.input-box#x input {
  color: rgb(160, 217, 239);
  border: 2px solid rgb(160, 217, 239);
}

.input-box#y input::placeholder {
  color: #ffd1dc;
}
.input-box#y input {
  color: #ffd1dc;
  border: 2px solid #ffd1dc;
}

.input-box#z input::placeholder {
  color: #ffd1dc;
}
.input-box#z input {
  color: #ffd1dc;
  border: 2px solid #ffd1dc;
}

.input-box.has-error {
  margin-top: 50px;
}

.button-container.shifted {
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 80%;
    margin-top: 100px;
  }

  .wrapper h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    padding: 20px;
  }
}

.link-container {
  text-align: center;
  margin-top: 20px; /* Adjust as needed */
}

.signup-link {
  color: #a2d591;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .photo {
    width: 150px;
  }
}
