.plead-button {
  width: 250px;
  background: transparent;
  border-radius: 15px;
  padding: 30px 40px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 100px; 
}

.plead-button button {
  width: 100%;
  height: 45px;
  background: #d9c89e;
  border: 2px solid #d9c89e;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-weight: 700;
}

button:hover,
button:focus,
.button:active {
  transform: scale(1.1);
  -webkit-ttransform: scale(1.1);
}
